

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.box {
  margin-top: 7%;
  margin-bottom: 0%;
  margin-left: 25%;
  margin-right: 30%;
  background: white;
  min-width: 320px;
  min-height: 40vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px ;
  padding-right: 100px;
}


.w50{
  width: 50%;
  float: left;
  padding-right: 15px;
}

.box{
  display: flex;
  width: 930px;
}

.img-box{
  width: 50%;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px  0 0 20px;
}

.img-box img{
  width: 100%;
}

.form-box{
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  padding: 50px 5/*  */0px;
  width: 50%;
  border-radius: 0 20px 20px 0;
}

.form-box h2{
  font-weight: 600;
  position: relative;
  font-size: 50px;
}

.form-box h2::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 50px;
  bottom: 3px;
  left: 0;
  border-radius: 20px;
}

.form-box p{
  font-weight: bold;
  color: #3D3D3D;
}

.form-box p a{
  color: #5ae3a9;
  text-decoration: none;
}

.form-box form{
  margin: 10px 0;
}

form .input-group{
  margin-bottom: 15px;
}

form .input-group label {
  color: #285542;
  font-weight: bold;
  /* display: block; */
  font-size: 20px;
  margin-bottom: 5px;
}

/* form .input-group select, form .input-group option{
  width: 100%;
  height: 20px;
  background-color: #ddece5;
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;

  font-size: 20px;
  color: #285542;
  transition: all 0.4s ease;
} */

form .input-group input, form .input-group select{
  width: 100%;
  height: 20px;
  background-color: #ddece5;
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 10px;
  font-size: 20px;
  color: #285542;
  transition: all 0.4s ease;
}

form .input-group input:focus, form .input-group select:focus{
  border-color: #5ae3a9;
}

.input-field input:focus~.underline::after {
  transform: scaleX(1);
}

form .input-group button{
  width: 100%;
  height: 50px;
  background: #5ae3a9;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

form .input-group select {
  height: 50px;
  width: 490px;
}